---
title: Page d'accueil
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% unless info.data %}
{% capture serve %}{{site.metafields.info.serve}}{% endcapture %}
{% capture email %}{{site.metafields.info.email}}{% endcapture %}
{% capture token %}{{site.metafields.info.token}}{% endcapture %}
{% action "Site Infos" %}
var serve = getProp("serve");
var token = getProp("token");
var email = getProp("email");
var info = false;
info = callAPI('GET', serve, {
  data: {
  },
  headers: {
    'X-Locomotive-Account-Email': email,
    'X-Locomotive-Account-Token': token
  }
});
setProp('info', info);
{% endaction %}
{% endunless %}
{% extends 'layouts/default' %}
{% block 'main' %}
<div class="w3-center w3-jumbo font-effect-3d" style="font-family: Rancho">{{ site.name }}<br><span class="w3-hide-small">🚂🚃🚃🚃</span></div>
{% include 'table' %}
{% endblock %}