<!DOCTYPE html>
<html>
  <title>admin studiowan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=3d">
  <body style="background-color: gainsboro;">
    <div class="w3-container">
    {% block 'main' %}
  	{% endblock %}
 		</div>
    <footer class="w3-container w3-center">
      <br>Copyright &#9786; <a href="https://www.studiowan.fr/en" target="_blank">studiowan</a> {{ today | format_date: '%Y' }}

    </footer>
  </body>
</html>